*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Abel', sans-serif;
	position: relative;
}
p,a,h1,h2,h3,h4,h5,h6,span,i{
	color: #3f3d56;
}
.box-flotant{
	display: none;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: red;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.73);
	-moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.73);
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.73);
	position: fixed;
 }
.box-flotant a{
	color: #FFF;
	font-weight: 800;
	font-size: 60px;
	padding-top: 4px;
}
.box-flotant a:hover{
	text-decoration: none;
}
.activo{
	background: #164668;
	color: #fff !important;
}
.row{
	width: 100%;
}

.header .box-header .nav-menu{
	display: flex;
}
.header .box-header .nav-menu .cerrar{
	display: none;
}
.header .box-header .nav-menu a{
	display: inline-block;
	width: 20%;
	padding: 10px;
	text-align: center;
	color: #164668;
	font-size: 18px;
	font-weight: 300;
	transition: .3s all;
}
.header .box-header .nav-menu a:hover{
	text-decoration: none;
	background: #164668;
	color: #C0C6CB;
}
/* media----------- */
@media only screen and (max-width: 600px) {
	.box-flotant{
		display: block;
		display: flex;
	}
	 body{min-width: 100%;}
	 .row{
	 	margin-left: 0;
	 }
	.header .box-header .nav-menu .cerrar{
		display: block;
	}
	.header .box-header{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		background: #164668;
		position: fixed;
	}

	.header .box-header .nav-menu{
		display: block;
	}
	.header .box-header .nav-menu a{
		width: 100%;
		color: #FFF;
		border-bottom: 1px solid rgba(0, 0, 0, .1)
	}
}
/* banner */

.box-banner{
	position: relative;
	height: 400px;
}
.box-banner .box-social{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.box-banner .box-mensaje{
	width: 50%;
	position: absolute;
	bottom: 10px;
	left: 0px;
	background: rgba(20, 65, 99, .5);
	padding: 5px;
	border-radius: 3px;
}
.box-banner .box-mensaje h3{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFF;
}
.box-banner .box-mensaje p{
	letter-spacing: 2px;
	font-size: 12px;
	color: #FFF;
}
@media only screen and (max-width : 768px){
	.box-banner .box-mensaje{
		width: 60%;
	}
}

/*contenido y sidebar*/
.main{
	display: flex;
	margin-top: 10px;
	width: 100%;
}
.main .box-main{
	width: 100%;
	transition: .3s;
}
.main .box-main .box-about{
	display: flex;
}
.main.container{
	padding: 0;
}
.main .box-main .box-about .about{
	width: 100%;
}
.main .box-main .box-about .about .title {
   font-weight: bold;
   font-size: 2.2em;
   padding-top: 1rem;
   padding-bottom: 1em;
   color: #3f3d56 !important;
}
.main .box-main .box-about .about h6 {
   font-size: 20px;
   line-height: 28px;
   font-weight: 600;
}
.main .box-main .box-about .about p{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	
}
.main .box-main .box-about .img-about img{
	width: 100%;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #000;
}
.main .box-main .box-about .img-about{
	width: 600px;
	padding: 30px 5px 0px 10px;
}

/*aside*/
.main .box-aside{
	width: 30%;
	transition: .3s;
	padding-left: 10px;
}
.main .box-aside .title{
	display: block;
	color: #3f3d56;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
   font-size: 1rem;
   padding-top: 1rem;
   padding-bottom: 1em;
}
.main .box-aside a{
	padding: 5px 10px;
	color: #17A2B8;
}
.main .box-aside a:hover{
	text-decoration: none;
}
.main .box-aside a p{
	display: block;
	font-size: 14px;
}

@media only screen and (max-width : 600px){
	.main .box-main .box-about{
		display: block;
	}
	.main .box-main .box-about .about .title {
	   font-weight: bold;
	   font-size: 1.8em;
	}
	.main .box-main .box-about .about h6 {
	   font-size: 18px;
	   line-height: 24px;
	}
	.main .box-main .box-about .about p{
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 24px;
	}
	.main .box-main .box-about .img-about{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.main .box-aside{
		display: none;
	}
}
@media only screen and (max-width : 768px){
	.main .box-aside{
		display: none;
	}
}

/*seccion noticia*/
.main .box-main .box-news section{
	width: 100%;
	padding: 10px 10px 10px 15px;
	border-left: 2px solid #F0AD4E;
	border-top: 1px solid #EEEEEE; 
	border-right: 1px solid #EEEEEE; 
	border-bottom:  1px solid #EEEEEE; 
	border-radius: 4px;
	margin: 10px 0px;
}
.main .box-main .box-news section .titulo{
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 18px;
	color: #3f3d56;
	text-transform: uppercase;
}

.main .box-main .box-news section a{
	color: #48608F;
}


/* personal */
.box-personal{
	display: flex;
	justify-content: space-between;
}
.box-personal .card{
	width: 30% ;

}
.box-personal .card .card-image{
	width: 100% ;
	display: flex;
   justify-content: center;
   align-items: center;
   background: #10D3C9;
   padding: 5px 0px;
}
.box-personal .card .card-image img{
	width: 150px ;
	border: 4px solid  #FFF ;
}
.box-personal .card .card-body .card-title{
	text-align: center ;
	font-weight: bold ;
	font-size: 1.6rem ;
	text-align: center ;
}
.box-personal .card .card-body .social-persona i{
	padding: 0px 6px;
	font-size: 25px;
	transition: .3s;
}
.box-personal .card .card-body .social-persona i:hover{
	color: #10D3C9;
}





/*footer*/
.site-footer{
	background: #131313;
}
.bottom-footer{
	background: #0F0F0F;
	padding: 10px 0px;
}
.bottom-footer p, a{
	color: #FFF;
}
.bottom-footer p{
	color: #FFF;
	padding-top: 8px;
}
@media only screen and (max-width : 600px){

}