section .cabecera-form{
	display: flex;
	justify-content: space-between;
}
section .cabecera-form .box-img-personal img{
	width: 100%;
}
section .cabecera-form .box-img-personal .box-previa-persona{
	width: 100px;
	height: 120px;
}

section .cabecera-form .box-img-personal .box-default{
	width: 100px;
	height: 120px;
	cursor: pointer;
	border: 3px dotted #9A9A9A;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

section .cabecera-form .box-img-personal .box-previa-persona{
	position: relative;
	width: 100px;
	height: 120px;
}
section .cabecera-form .box-img-personal .box-previa-persona img{
	width: 100%;
	border-radius: 100px;
}
section .cabecera-form .box-img-personal .images-card{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100px;
	height: 120px;
	border-radius: 100px;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 44px;
	cursor: pointer;
	opacity: 0;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
}
section .cabecera-form .box-img-personal .images-card:hover {
   opacity: 1;
}




section .cabecera-form .box-img-personal .box-default i{
	color:  #9A9A9A;
	font-size: 30px;
	transition: .5s ease;
}
section .cabecera-form .box-img-personal .box-default i:hover{
	color: rgba(154, 154, 154, .5),
}
section .cabecera-form .box-img-personal .box-default i:active{
	transform: scale(.3);
	color: rgb(45, 125, 199);
}
section .cabecera-form  #file-input-persona{
	display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
	.form-personal .cabecera-form .box-titulo .titulo{
		font-size: 18px;
		padding-top: 5px;
	}
	.form-personal .cabecera-form .box-titulo h3{
		font-size: 14px;
	}

}