@import url('panel.css');
@import url('personal.css');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
	height: 400px;
	display: flex;
	margin-top: 20px;
}
.box .box-img{
	width: 60%;
}
.box .box-registrer{
	width: 40%;
}
.box .box-registrer .box-form{
	width: 100%;
}

.number{
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
}
.number:active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95); 
}
.media{
	width: 60px;	
}

.media .media-body h5{
	font-size: 16px;
	display: block;
	width: 200px;
}


/* form registro*/

.box-container{
	padding: 0px 60px;
}
.box-container .box-main{
	display: flex;
	margin: auto;
	padding: 0px 40px;
	width: 90%;
}
.box-container .box-main .box-info{
	width: 50%;
	padding: 10px;
}
.box-container .box-main .box-info .left_box_info{
}
.box-container .box-main .box-info h1{
	font-size: 45px;
	margin: 1em 0em .5em 0em;
	color: #333;
	font-weight: 500;
	letter-spacing: 2px;	
}
.box-container .box-main .box-info p{
	display: block;
}
.box-container .box-main .box-info img{
	width: 80%;
}

.box-container .box-main .box-form{
	width: 50%;
	padding: 10px 20px;
}

.box-container .box-main .box-form h2 {
	font-size: 30px;
	margin: 1em 0em .5em 0em;
	margin: auto;
	margin-top: 50px;
	display: inline-block;
	margin-bottom: 10px;
	color: #333;
	letter-spacing: 2px;	
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing:1px;
}

.box-container .box-main .box-form .input-group label{
	padding-left: 40px;
}
.box-container .box-main .box-form .input-group input[type="email"] {
	padding-left: 0px;
}